* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	min-height: 100vh;
	background-color: rgb(241, 241,241);
	background-color: hsl(0, 0%, 95%);
}

/*Navigation area - Beginning */
nav {
	background-color: rgb(51, 0, 102);
	background-color: hsl(270, 100%, 20%);
	overflow: hidden;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 14px 0;
	padding-left: 5rem;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 0 16px;
	float: left;
	font-size: 18px;
	font-weight: 700;
}
nav a:hover {
	color: hsl(30, 100%, 50%);
}
nav a.active {
	color: yellow;
}
/* Navigation area - End*/

/* Content area - Beginning */
.container {
	overflow: hidden;
	margin: 20px 0;
}
.left {
	float: left;
	width: 60%;
	margin: 0 5%;
}
.right {
	float: right;
	width: 25%;
	margin-right: 5%;
}
.card {
	background-color: white;
	border: .5px solid hsl(0, 0%, 80%);
	padding: 20px;
}
.list-type-none {
	list-style-type: none;
}
.blog-image {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.text-spacing {
	line-height: 1.9em;
	letter-spacing: .02em;
}
.body-text {
	font-size: 1.1em;
	color: #333;
}
h1 {
	font-size: 2.2em;
}
.sub-title {
	margin-left: 1em;
}
.sub-title li::marker {
	font-size: 1.5em;
}
.sub-title li h2 {
	font-size: 1.5em;
}
.sub-title ul {
	margin-left: 4em;
}
.primary-link {
	color: blue;
	font-weight: 700;
}
.primary-link:hover {
	color: red;
}
.section h5 {
	font-size: 20px;
	line-height: 2em;
}
.homepage {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.homepage section {
	width: 48%;
}
.homepage img {
	width: 100%;
	height: auto;
}
.homepage a {
	color: black;
	text-decoration: none;
	font-weight: 700;
	line-height: 2em;
	font-size: 1.1em;
	letter-spacing: .02em;
}
.homepage a:hover {
	color: hsl(270, 100%, 50%);
}
.homepage-h1 {
	text-align: center;
	margin: 20px 0;
	font-size: 2em;
}
/* Content area - End*/

/*Footer are  - Beginning*/
footer {
	background-color: rgb(128, 128, 128);
	background-color: hsl(270, 0%, 50%);
	padding: 20px;
	text-align: center;
	color: white;
}
/* Footer area - End*/

/* 1024 screen to 799px - Beginning */
@media screen and (max-width: 1024px){
	.left {
		margin: 0 2%;
		width: 66%;
	}
	.right {
		margin-right: 2%;
		width: 28%;
	}
}
/* 1024 screen to 799px - End */

/* 800px screen and below - Beginning*/
@media screen and (max-width: 800px) {
	nav {
		padding-left: 0;
	}
	.left, .right {
		float: none;
		width: 100%;
		margin: 0 0 20px 0;
	}
	.homepage section {
		width: 100%;
	}
}
/* 800px screen and below - End*/
